# dependencies
node_modules/

# testing
/coverage

# production
/build

# yarn
/.yarn
yarn.lock/

# templates
*.tpl

# Prevent problems with path ('./' => '.' & '.' => ' ')
package.json
tsconfig.json
